# Avoid very large episode sets
data/prelim_exps/lifelong_test/ten_very_heavy_greedy/repeat_*
data/icaps_exps/learning_exp/repeat_*

# Avoid build directory
build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
*.egg-info/
*/build/
*.pyc

# Sphinx
API/
